In [29]:
import pandas as pd
import numpy as np

#### These are my answers for the first assigment in the mlzoomcamp course. Dataset I worked with was downloaded from
#### here: https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

### Q1: Pandas Version

In [2]:
print(pd.__version__)

2.2.2

### Getting the data

In [4]:
laptop_df = pd.read_csv('laptops.csv')

### Q2: Records count

In [5]:
laptop_df.shape

(2160, 12)

### Q3: Laptop brands

In [6]:
laptop_df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [9]:
len(laptop_df['Brand'].unique())

27

### Q4: Missing Values

In [52]:
### Taking into account that the dataframe has 2160 rows, I count manually how many columns
### have a Non-Null Count lesser than 2160, in this case 3

In [13]:
laptop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

### Q5: Maximum final price

In [16]:
laptop_df[laptop_df['Brand']=='Dell']['Final Price'].max()

3936.0

### Q6 Median value of Screen

#### 1. Find the median value of Screen column in the dataset.

In [17]:
laptop_df['Screen'].median()

15.6

#### 2. Next, calculate the most frequent value of the same Screen column.

In [19]:
laptop_df['Screen'].mode()[0]

15.6

#### 3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [20]:
laptop_df['Screen'].fillna(laptop_df['Screen'].mode()[0], inplace=True)

C:\Users\jhons\AppData\Local\Temp\ipykernel_10364\1892173296.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  laptop_df['Screen'].fillna(laptop_df['Screen'].mode()[0], inplace=True)

In [ ]:
laptop_df['Screen'].isna().sum()

#### 4. Now, calculate the median value of Screen once again.

In [54]:
### I realized that executing the instructions proposed in points 1, 2, 3
### don't change the median value of Screen

In [21]:
laptop_df['Screen'].median()

15.6

### Q7. Sum of weights

#### 1. Select all the "Innjoo" laptops from the dataset.

In [23]:
laptop_innjoo = laptop_df[laptop_df['Brand']=='Innjoo']

#### 2. Select only columns RAM, Storage, Screen.

In [25]:
laptop_innjoo = laptop_innjoo[["RAM", "Storage", "Screen"]]

#### 3. Get the underlying NumPy array. Let's call it X.

In [26]:
X = laptop_innjoo.to_numpy()

#### 4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [34]:
XTX = np.matmul(X.T,X)

#### 5. Compute the inverse of XTX

In [44]:
XTX_inv = np.linalg.inv(XTX)

#### 6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

In [46]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

#### 7.Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [47]:
w = np.matmul(XTX_inv, X.T)
w = np.matmul(w,y)

#### 8. What's the sum of all the elements of the result?

In [50]:
w.sum()

91.29988062995588